
# build files
*.o
*.d
*.crf
*.__i
*.dep
*.plg
*.htm

#IDE files
*.suo
*.uvg*
*.uvopt*
*.uvproj*
*.axf
*.lst
*.map
*.hex

desktop.ini
logfile*.txt


#runable files
*.exe


# C# build
*.manifest
*.pdb


# other
.chm